
body {
    background-color: #ffffff;
}
 
.container-fluid {
    background-color: #ff7b00;
    justify-content: center;
}
 
.navbar-brand mb-0 h1 {
    color: black;
 
}
 
.navbar-light .navbar-brand {
    color: white;
}
 
.navbar navbar-light bg-light {
    width: 100%;
 
}
 
.navbar {
    padding: 0%;
}
 
.navbar-brand {
    font-size: 1.8rem;
}
 
.inputdata {
    text-align: center;
    margin-top: 16.5vh;
}
 
.span1 {
    font-size: 25px;
    font-weight: 500;
    color: #ff7b00;
}

.span2{
    font-size: 15px;
    color: #000000;
}
 
.input1 {
    width: 80%;
    text-align: center;
    height: 50px;
    place-items: center;
    font-size: 20px;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 18px;
    margin-top: 2vw;
    color: #3300aa;
    font-size: 20px;
    font-weight: bolder;
}
 
.btn1, .btn2{
    border: wheat;
    text-align: center;
    color: white;
    font-weight: 500;
    border-radius: 8px;
    margin-top: 1.5vw;
    width: 100px;
    height: 40px;
}

.btn1, .btn2:hover{
    background-color: #ff7b00;
}
.btn2, .btn1:hover{
    background-color: #3300aa;
}

input:focus {
    outline: none;
}
 
.output {
    text-align: center;
    margin-bottom: 30px;
}

.initialText, .emptyText, .finalMessage{
    width: 80%;
    margin-left: 10%;
    color: #ff7b00;
    font-size: 20px;
    font-weight: bold;
}

.line{
    width: 80%;
    margin-left: 10%;
    height: 5px;
    color: green;
    background-color: green;
}

.expression{
    font-size: 20px;
    font-weight: bolder;
    color: #ff7b00;
    width: 80%;
    margin-left: 10%;
}

.ScannedExpression{
    color: #3300aa;
    padding: 2px;
    font-weight: bolder;
}

.nonScannedExpression{
    padding: 2px;
}

.firstTextDiv, .secondTextDiv, .thirdTextDiv, .conclusionParagraph{
    width: 80%;
    margin-left: 10%;
}

.firstTextCurrentNumber, .secondTextOperator, .secondTextOperand{
    color: red;
    font-weight: bolder;
}

.showStackContentDiv, .InitialshowStackContentDiv{
    width: 100px;
    margin: 25px;
    font-size: 20px;
    text-align: center;
}

.showStackContentTable, .InitialshowStackContentTable{
    border-collapse: collapse;
    border-left:1px solid #ff7b00;
    border-right:1px solid #ff7b00;
    border-bottom:1px solid #ff7b00;
    color: #3300aa;
    font-weight: bolder;
    width: 50px;
}

.cell, .Initialcell{
    padding: 20px;
}

.showOperationDiv, .InitialshowOperationDiv{
    width: 200px;
    height: 30px;
    margin-top: 25px;
    border: 1px solid #ff7b00;
    text-align: center;
    color:#3300aa;
    font-weight: bolder;
}

.textExpression, .InitialtextExpression{
    margin-top:25px;
    color: #ff0000;
}

.textStack, .InitialtextStack{
    color: #ff0000;
    font-weight: bold;
}

.firstOperand, .operatingOperator, .secondOperand, .equalsTo, .currentOutput{
    color: #3300aa;
    font-weight: bolder;
}

.calculationDiv, .InitialcalculationDiv{
    display:flex;
    width: 300px;
    width: 80%;
    margin-left: 10%;
}

.footer{
    position: fixed;
    width: 100%;
    padding: 10px;
    margin: 0;
    background-color: #ff7b00;
    text-align: center;
    bottom: 0;
    color: white;
}

.dynamicFooter{
    position: static;
    width: 100%;
    padding: 10px;
    margin: 0;
    background-color: #ff7b00;
    text-align: center;
    bottom: 0;
    color: white;
}